body {
    margin: 0px;
}

.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header1 {
    width: 99.9%;
    height: 10%;
    margin-top: 0px;
    margin-bottom: 30px;
    padding: 0px;
    text-align: center;
    text-decoration: underline;
    background-image: linear-gradient(to right, red, green, yellow);
}

h1 {
    margin: 0px;
}

.navbar {
    width: 70%;
    font-size: 18px;
    text-align: center;
    background-color: slateblue;
    border: 5px solid red;
    border-radius: 18px;
}

.ul-list {
    width: 30%;
    position: relative;
    left: 40%;
}

.container-1 {
    background-color: aquamarine;
    border: 2px solid red;
    border-radius: 24px;
    width: 99.7%;
    margin-top: 30px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}

.c1-item {
    width: 30%;
    background-color: cyan;
    border: 3px solid maroon;
    border-radius: 8px;
    text-align: center;
    font-weight: bolder;
    font-size: 18px;
}

.header2 {
    width: 99.9%;
    height: 10%;
    margin-top: 0px;
    margin: 20px 0px;
    padding: 0px;
    text-align: center;
    text-decoration: underline;
    text-decoration-color: red;
    background-image: linear-gradient(to right, red, yellow, red);
}

h2 {
    margin-top: 0px;
}

.container-2 {
    display: flex;
    justify-content: space-around;
    background-image: radial-gradient(blue, lightgreen);
    border: 3px solid green;
    width: 99.65%;
    padding: 60px 0px;
    margin: 10px 0px;
}

.c2-item {
    text-align: center;
    text-decoration: underline;
    color: darkred;
    text-decoration-color: darkred;
    background-color: yellow;
    border: 3px solid darkred;
    border-radius: 15px;
    width: 12%;
    height: 100px;
    line-height: 30px;
    font-weight: bolder;
}

.grid-container {
    display: grid;
    grid-template-columns: 0.4fr 0.4fr 0.4fr 100px;
    grid-template-rows: 0.2fr 0.3fr 0.4fr 0.1fr;
    gap: 15px;
    border: 1px solid blue;
    margin: 30px 0px;
}

.grid-item1 {
    color: white;
    background-color: red;
    font-size: 28px;
    font-weight: bolder;
    text-align: center;
    grid-column: 1 / 5;
    padding-bottom: 8px;
}

.grid-item2 {
    color: white;
    background-color: lightgreen;
    font-size: 28px;
    font-weight: bolder;
    text-align: center;
}

.grid-item3 {
    color: white;
    background-color: dodgerblue;
    font-size: 28px;
    font-weight: bolder;
}

.grid-item4 {
    color: white;
    background-color: blue;
    font-size: 20px; 
    font-weight: bolder;   
}

.grid-item5 {
    color: white;
    background-color:rgb(48, 48, 48);
    grid-row: 2 / 4;
    grid-column: 4 / 5;
    font-weight: bolder;
    font-size: 20px;
}

ol {
    padding: 0px;
    margin-left: 5px;
    list-style-position: inside;
}

hr {
    margin: 0px;
}

.grid-item6 {
    color: white;
    background-color: lightsalmon;
    grid-column: 1 / 4;
    font-weight: bolder;
    font-size: 20px;
    padding-bottom: 100px;
}

.grid-item7 {
    color: black;
    background-color: lightseagreen;
    grid-row: 4 / 5;
    grid-column: 1 / 5;
    text-align: center;
    font-size: 28px;
    font-weight: bolder;
}