.bg-image {
    background-image: url(https://images.pexels.com/photos/3255761/pexels-photo-3255761.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940);
    background-size: 100%;
}

.container-1 {
    font-style: italic;
    height: 200px;
    display: flex;
    font-size: 30px;
}

.container-item {
    background-color: black;
    color: white;
    border: 8px solid red;
    border-radius: 40px;
    margin: 20px;
}

.box-left {
    padding: 10px 10px 30px;
    height: 80px;
    width: 500px;
    text-align: center;
}

.box-mid {
    margin-top: 40px;
    margin-left: -170px;
    text-align: center;
    padding: 20px;
    height: 25px;
    width: 500px;
}
.box-right {
    margin-right: 5px;
    padding: 5px 60px;
    font-size: 24px;
    width: 350px;
    text-align: center;
}

.container-2 {
    width: 100%;
    display: flex;
    height: 600px;
}

.circle-container {
    text-align: center;
    margin-top: 200px;
    margin-left: 100px;
    width: 40%;
    background-color: rgb(0, 255, 235);
    border: 6px solid goldenrod;
    border-radius: 50%;
    width: 350px;
    height: 200px;
    padding: 70px 0px;
}

.circle-text { 
    font-weight: 900;
    text-decoration: underline;
    font-style: italic;
    font-size: 20px;    
}

.register-here {
    background-color: white;
    border: 8px dashed red;
    margin-top: 50px;
    margin-left: 200px;
    width: 500px;
    height: 730px;
}

.form-title {
    text-align: center;
    margin: 20px 0px;
    font-size: 36px;
    color: tomato;
    font-weight: bold;
}

label {
    color: tomato;
    font-size: 24px;
}

input {
    text-align: center;
}

.menu {
    background-color: black;
    color: white;
    border: 8px solid red;
    border-radius: 40px;
    margin-top: 230px;
    margin-left: 500px;
    height: 80px;
    width: 500px;
}

.menu-text {
    text-align: center;
    font-weight: 900;
    font-size: 40px;
    font-style: italic;
    margin-top: 20px ;
}

.menu-container {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    justify-content: center;
}

.items {
    background-color: aqua;
    border: 5px solid green;
    border-radius: 40px;
    color: blueviolet;
    margin: 30px;
    width: 300px;
    height: 200px;
    font-weight: bolder;
    padding: 30px;
}

.item-title {
    font-size: 40px;
}

.item-hr {
    margin-left: -30px;
    margin-right: -30px;
}

.last-item {
    height: 250px;
}