body {
    margin: 0px;
}

.wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: coral;
}

.container-1 {
    width: 500px;
    height: 150px;
    text-align: center;
    color: darkred;
    font-size: 30px;
    font-weight: bolder;
    font-style: italic;
    border: 8px solid red;
    border-radius: 10px;
    line-height: 45px;
    text-shadow: 2px 2px 2px darkmagenta;
    box-shadow: 8px 8px 2px darkmagenta;
    background-color: white;
    margin-top: 30px;
}

.hr1 {
    width: 99%;
    margin: 5px;
    height: 0.5px;
    background-color: white;
}

.container-2 {
    width: 98%;
    height: 700px;
    border: 8px solid green;
}

.top-left {
    width: 250px;
    height: 250px;
    border: 8px solid red;
    border-radius: 10px;
    background-color: white;
    text-shadow: 2px 2px 2px darkmagenta;
    box-shadow: 8px 8px 2px darkmagenta;
    text-align: center;
    font-size: 26px;
    font-weight: bolder;
    color: rgb(57, 0, 82);
    line-height: 50px;
}

.top-right {
    width: 250px;
    height: 250px;
    border: 8px solid red;
    border-radius: 10px;
    background-color: white;
    box-shadow: 8px 8px 2px darkmagenta;
    background-image: url(./img/img1.jpg);
    background-size: 90%;
    background-repeat: no-repeat;
    background-position: center center;
    position: relative;
    bottom: 266px;
    left: 1100px;
}

.bottom-left {
    width: 250px;
    height: 250px;
    border: 8px solid red;
    border-radius: 10px;
    background-color: white;
    text-shadow: 2px 2px 2px darkmagenta;
    box-shadow: 8px 8px 2px darkmagenta;
    font-size: 28px;
    font-weight: bolder;
    color: rgb(57, 0, 82);
    position: relative;
    bottom: 150px;
}

.bottom-right {
    width: 250px;
    height: 250px;
    border: 8px solid red;
    border-radius: 10px;
    background-color: white;
    text-shadow: 2px 2px 2px darkmagenta;
    box-shadow: 8px 8px 2px darkmagenta;
    font-weight: bolder;
    font-size: 28px;
    text-align: center;
    padding-top: 20px;
    position: relative;
    bottom: 400px;
    left: 1100px;
}

.form {
    text-align: center;
}

.rate-us, .submit {
    font-weight: normal;
    font-size: 1.5rem;
}

.submit-button {
    width: 100px;
    height: 30px;
    background-color: red;
    border-radius: 10px;
    font-weight: bold;
}

.fixed-container {
    width: 500px;
    height: 80px;
    position: fixed;
    background-color: yellowgreen;
    border: 8px solid red;
    border-radius: 10px;
    box-shadow: 8px 8px 2px darkmagenta;
    bottom: 70px;
    left: 400px;
}

.left-text {
    font-style: italic;
    font-size: 26px;
    color: maroon;
    font-weight: bolder;
    text-align: center;
    position: absolute;
    top: 10px;
    left: 20px;
}

.right-text {
    font-style: italic;
    font-size: 20px;
    color: maroon;
    font-weight: bold;
    text-align: center;
    position: absolute;
    bottom: 20px;
    left: 330px;
}

.container-3 {
    width: 820px;
    height: 720px;
    background-color: green;
    border: 8px solid purple;
    margin-top: 30px;
    margin-bottom: 30px;
}

.heading {
    font-weight: bolder;
    font-size: 30px;
    text-align: center;
    margin-top: 20px;
}

.fruits-box {
    width: 400px;
    height: 300px;
    float: left;
    background-color: khaki;
    margin-left: 5px;
    margin-top: 30px;
}

.head {
    font-size: 30px;
    font-weight: bolder;
    font-style: italic;
    text-align: center;
}

.head1 {
    padding-top: 25px;
}

.fruits-name {
    font-style: italic;
    text-align: center;
    line-height: 2.5;
    font-weight: 600;
}

.veg-box {
    width: 400px;
    height: 300px;
    float: right;
    background-color: khaki;
    margin-right: 5px;
    margin-top: 30px;
}

.veg-name {
    font-style: italic;
    text-align: center;
    line-height: 2;
    font-weight: 600;
}

.others {
    width: 825px;
    height: 300px;
    background-color: khaki;
    margin-left: 5px;
    margin-top: 350px;
}

.hr2 {
    margin: 10px;
}